@using ProjectClock.BusinessLogic.Dtos.WorkingTime.WorkingTimeDtos

@model IEnumerable<NotFinisedWorkingTimeDto>

@if (Model.Any())
{

    <li class="list-group-item col-lg text-bg-info bg-opacity-50 rounded-2 p-1 m-1 box-shadow">
        <div class="container">
            <h2 class="text-center">Projects in progress</h2>
            <div class="row justify-content-center ">
                <div class="row-md-4">
                    <form action="/WorkingTime/Stop" method="post">
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <label for="Id" class="control-label">Project</label>
                                <select name="Id" class="form-select form-select-lg">
                                    @foreach (var workingTime in Model)
                                    {
                                        <option value="@workingTime.WorkingTimeId">@workingTime.ProjectName</option>
                                    }
                                </select>
                            </div>                                                 
                        <div class="col-md-4 mt-1" id="stopwatch"></div>
                        </div>
                        <div class=" row mb-3">
                            <input value="Stop" type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
}



<script>
    function updateStopwatch() {
        $.get('@Url.Action("GetTime", "WorkingTime")', function (data) {
            $('#stopwatch').text(data);
        });
    }

    $(document).ready(function () {
        setInterval(updateStopwatch, 1000);
    });
</script>