@model List<ProjectClock.Database.Entities.Project>

<h1 class="text-center p-2">Projects:</h1>
<div class="container p-1">
    <ul class="navbar-nav flex-grow-1 p-1">
        <li class="nav-item">
            <div class="col-md-4 ">
                @await Component.InvokeAsync("ProjectCreator")
            </div>
        </li>
        <li class="nav-item">
            <div class="row justify-content-center">

                @foreach (var project in @Model)
                {
                    <div class="card m-1 p-1 col-xxl-2" style="height: 20%">
                        <h5 class="text btn-outline-secondary m-1">@project.Name </h5>
                        <div class="justify-content-center p-1 m-1">
                            <a asp-controller="Project" asp-action="Delete" class="btn btn-outline-secondary text-center m-1">Edit</a>
                            <a asp-controller="Project" asp-action="Delete" asp-route-name="@project.Name" class="btn btn-outline-secondary text-center m-1">Remove</a>
                        </div>                        
                    </div>
                }
            </div>
        </li>
    </ul>

</div>

