@using ProjectClock.Database.Entities
@model IEnumerable<Project>


<div class="row">

    <label for="selectedOrganization">Projects</label>
    <div class="col-md-3 col-3 mb-3 transparent-border">
        List of projects
    </div>

    <div class="col-md-3 col-3 mb-3 transparent-border">
        End Project
    </div>

    <div class="col-md-3 col-3 mb-3 transparent-border">
        Add Project
    </div>
</div>