@model List<ProjectClock.Database.Entities.Organization>

<h1>Organization manage</h1>
<ul>
    <li>Create organization</li>
    
    <li>
        Your organizations
        <ul>            
            <li>Invite to organisation</li>
            <li>Invited users</li>
            <li>Manage users</li>
        </ul>
    </li>

    <li>Your invitations</li>
</ul>

@{
    foreach (var organization in Model )
    {
        <p> Id: @organization.Id Name: @organization.Name</p>
    }
}