@model List<ProjectClock.Database.Entities.Project>

<h1 class="text-center p-2">Start track your project</h1>

<br>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form action="">
            <div class="form-group mb-3">
                <label for="Project" class="control-label">Project</label>
                <select name="Project" class="form-select form-select-lg">
                    @foreach(var project in @Model)
                    {
                        <option value="@project.Name">@project.Name</option>
                    }                                                           
                </select>
            </div>
            <div class="form-group mb-3">
                <input value="Start" type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

